<ng-form name="addressForm">
  <label for="addressEdit">Address:</label>
  <input id="addressEdit" type="text" name="address" ng-model="person.address" /><br />
  <label for="zipEdit">ZIP code:</label>
  <input id="zipEdit" type="number" name="zip" ng-model="person.zip" required /><br />
  <label for="cityEdit">City:</label>
  <input id="cityEdit" type="text" name="city" ng-model="person.city" /><br />
  <label for="stateProvinceEdit">State/Province:</label>
  <input id="stateProvinceEdit" type="text" name="stateProvince" ng-model="person.stateProvince" /><br />
  <label for="countryEdit">Country:</label>
  <input id="countryEdit" type="text" name="country" ng-model="person.country" />
</ng-form>