<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule theviews/(.*)$ /angularjshubprogs/examples/routing/02_RouteService/example/html5/index.php [NC,L]
</IfModule>