<!DOCTYPE html>
<html>
<head>
  <script src="../../angularjs/angular.js"></script>
  <script src="script.js"></script>
</head>

<body ng-app>
  <div ng-controller="firstController">
    <h2>Model managed by the first controller</h2>
    <strong>First name:</strong> {{firstName}}<br />
    <strong>Last name:</strong> <span ng-bind="lastName"></span><br />
    <strong>Full name:</strong> {{getFullName()}}<br />
    <br />
    <label>Set the first name: <input type="text" ng-model="firstName"/></label><br />
    <label>Set the last name: <input type="text" ng-model="lastName"/></label>
  </div>
  <div ng-controller="secondController">
    <h2>Model managed by the second controller</h2>
    <strong>First name:</strong> {{firstName}}<br />
    <strong>Middle name:</strong> {{middleName}}<br />
    <strong>Last name:</strong> <span ng-bind="lastName"></span><br />
    <strong>Full name:</strong> {{getFullName()}}<br />
    <br />
    <label>Set the first name: <input type="text" ng-model="firstName"/></label><br />
    <label>Set the middle name: <input type="text" ng-model="middleName"/></label><br />
    <label>Set the last name: <input type="text" ng-model="lastName"/></label>
  </div>
</body>
</html>