<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule people/(.*)$ /angularjshubprogs/examples/servercalls/03_ResourceService/people/index.php [NC,L]
</IfModule>